/*Anything custom to this instance of OneApp should reside in this file */

.splash .message {
    -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
}

.application-content {
    /*margin-top: inherit;*/
}

body{
    background-color: #e4e6e9;
}

/**************Tabs******************/
.nav-tabs {
    border-color: rgb(197, 208, 220);
    margin-bottom: 0px;
    margin-left: 0px;
    position: relative;
    top: 1px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: rgb(87, 99, 115);
    border-color: rgb(76, 143, 189) rgb(197, 208, 220) transparent;
    border-top: 2px solid rgb(76, 143, 189);
    background-color: rgb(255, 255, 255);
    z-index: 12;
    line-height: 16px;
    margin-top: -1px;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px -2px 3px 0px;
}

.nav-tabs > li:first-child > a {
    margin-left: 0px;
}

.nav-tabs > li > a, .nav-tabs > li > a:focus {
    background-color: rgb(249, 249, 249);
    color: rgb(153, 153, 153);
    margin-right: -1px;
    line-height: 16px;
    position: relative;
    z-index: 11;
    border-color: rgb(197, 208, 220);
    border-radius: 0px;
}

.nav-tabs > li > a {
    padding: 8px 12px;
}